<div class="card white">
	<div class="card-content red-text">
		<span class="card-title">Quick post</span>
		<div class="row">
			<form action="/posts" method="post" class="col s12">
				<div class="row">
					<div class="input-field">
						<input type="text" name="title">
						<label for="title">Title</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field">
						<select name="status">
							<option value="public" selected="true">Public</option>
							<option value="private">Private</option>
						</select>
						<label for="status">Status</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field">
						<textarea name="body" style="resize:none"></textarea>
					</div>
				</div>
				<input type="submit" value="Post" class="btn red">
				<a href="/posts/add" class="right">advanced editor</a>
			</form>
		</div>
	</div>
</div>