<div class="page-footer red">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h5>Our Mission</h5>
				<p class="grey-text text-lighten-4">Staying in touch with your circles of friends from different stages in your life can be difficult. Circle was developed in 2018 in order to change that. Currently under development.</p>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Created by <a class="orange-text text-lighten-3" href="http://ryan-martin.ca/#about">Ryan Martin</a>
		</div>
	</div>
</div>