body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.cover-photo {
    position: relative;
}

.card.cover-photo .card-image {
    max-height: 100%;
    overflow: hidden;
}

.user-profile-container {
  
}